@model ICollection<_00_LoginPage.ViewModeels.ShoppingListViewModel>

@{
    ViewBag.Title = "Sipariş Listelerim";
}

<link rel="stylesheet" type="text/css" href="~/css/productList.css">
<section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center  h-100">
            <div class="col-md-12 col-xl-10">

                <div class="card mask-custom">
                    <div class="card-body p-4 text-black">

                        <div class="text-center pt-3 pb-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                                 alt="Check" width="60">
                            <h2 class="my-4">Sipariş Listelerim</h2>
                        </div>

                        <table class="table text-black mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Ad</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Ürün Ekle</th>
                                    <th scope="col" class="ml-5" >Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr class="fw-normal">
                                        <th>
                                            <img src="https://img.freepik.com/premium-vector/list-flat-illustration_183665-75.jpg?w=360"
                                                 alt="avatar 1" style="width: 45px; height: auto;">
                                            <a asp-action="Index" asp-controller="ShoppingListProduct" asp-route-shoppinglistid="@item.Id" ><span class="ms-2">@item.Name</span></a>
                                        </th>
                                        <td class="align-middle">
                                            @using (Html.BeginForm("Delete", "ShoppingList", new { id = item.Id }, FormMethod.Post))
                                            {
                                                <button type="submit" class="icon">
                                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                                </button>
                                            }
                                        </td>
                                        <td class="align-middle">
                                                <div class="form-check">
@*                                                    <input class="form-check-input mt-2" type="checkbox" asp-for="@item.IsEditable">
                                                    <label class="form-check-label align-middle" asp-for="@item.IsEditable">Alışverişe Çıkıyorum</label>*@
                                                @if(item.IsEditable == false)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a asp-action="UserProducts" class="icon" asp-controller="Product" asp-route-shoppinglistid="@item.Id">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                </div>
                                        </td>
                                        <td class="align-middle">
                                            @if (item.IsEditable == true)
                                            {
                                                @using (Html.BeginForm("IsEditableToFalse", "ShoppingList", FormMethod.Post))
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" asp-action="IsEditableToFalse" asp-controller="ShoppingList" value="Alışverişe Çıkıyorum" asp-route-id="@item.Id" class="btn  btn-primary" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                @using (Html.BeginForm("IsEditableToTrue", "ShoppingList", FormMethod.Post))
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" asp-action="IsEditableToTrue" asp-controller="ShoppingList" value="Alışverişe Tamamlandı" asp-route-id="@item.Id" class="btn  btn-primary" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
