@model ICollection<_00_LoginPage.ViewModeels.ProductViewModel>

@{
    ViewBag.Title = "Ürünler";
}

<div class="conatiner">
    <div class="back-to-shop"><a asp-action="Index" asp-controller="ShoppingList">&leftarrow;</a><span class="text-bold"><b>Sipariş Listelerime Geri Dön</b></span></div>
    <div class="wrap">
            @foreach (var item in Model)
            {

                @using (Html.BeginForm("Create", "ShoppingListProduct", FormMethod.Post))
                    {
                    <div class="box one m-4">
                        <h2 class="mt-2">@item.Name</h2>
                        <img class="card-img-top mt-1" src="@Url.Content(item.ImageUrl)">
                        <div class="container-login100-form-btn m-3">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" asp-action="Create" asp-controller="ShoppingListProduct" class="login100-form-btn">
                                    <a asp-controller="ShoppingListProduct" class="login100-form-btn" asp-action="Create" asp-route-shoppinglistid="@item.ShoppingListId" asp-route-productid="@item.ProductId">
                                            Ekle
                                    </a>
                                </button>
@*                                <div class="form-group">
                                    <label for="exampleformcontroltextarea1">açıklama</label>
                                    <textarea class="form-control" id="exampleformcontroltextarea1" rows="3"></textarea>
                                    <input class="input100" type="number" asp-for="@item.Amount" placeholder="Miktar" required>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    }

            }
    </div>
</div>